# system:
You are a helpful assistant.
Answer the following question in a full sentences given the user question and the resulting number or analysis.

# user:
{{question}}

# Number or analysis:
{{number}}